
.container {
  text-align: center;
}

.card.card-shadow{
  box-shadow: 8px 11px 10px 0px rgba(0, 0, 0, .2);
}

.bg-primary{
  background-color: #3b83bd !important;
}

.sidebar {
  padding: 0;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

.navbar input{
  background-color: transparent;
  border-color: transparent;
  background-color: rgba(255,255,255,.2);
  border:0px;
  border-radius: 0px;
}

.navbar .nav-link:hover{
  cursor:pointer;
}

body{
  height: 100vh;
  background-color: #f5f8fd;
}

.trigger {
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #dcdfe3  ;
  color: #313132;
  display: inline-block;
  margin: 2px 5px;
  text-decoration: none;
}

.trigger:hover {
  background-color: #c6c8cc  ;
  text-decoration: none;
  color: #313132;
  font-weight: 600;
}

.trigger:focus{
  background-color: #c4c6ca  ;
}

.card .weather-icon{
  height: 150px;
}

.card  .info{
  height: 180px;
}

button.nav-link{
  background-color: transparent;
  border-color: transparent;
}